{sub_dirs, [
            "apps/polynya_cluster",
            "rel"
           ]}.
{erl_ops, [debug_info, fail_on_warning]}.

{edoc_opts, [{private, true}, {todo,true}]}.

{deps, [
    {'ejson',     ".*", {git, "git://github.com/nikolaeff/ejson.git"}},
    {'couchbeam', ".*", {git, "git://github.com/benoitc/couchbeam.git"}}
]}.
